.cart {
    width: 100;
    background-color: aqua;
    margin: 20px 20px 20px 20px;
}

.products {
    width: 65%;
    float: left;
    display: inline-block;
   
}

.total {
    width: 30%;
    background-color: lightgray;
    float: right;
    display: inline-block;
}
.summary {
    margin: 20px 20px 20px 20px;
}
.checkout {
    width: 100%;
    text-align: center;
}
.button {
    background-color:blue; /* Green */
    border: none;
    color: white;
    padding: 10px 60px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-align: center;
    
}

.right {
    float: right;
}

.inline-block {
    display: inline-block;
}
.container {
    width: 90%;
}

.button2:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.list-item-cal {
    width: 100%;
}

.list-item {
    width: 60%;
    display: inline-block;
}
.list-price {
    width: 20%;
    display: inline-block;
}
.list-quantity {
    width: 20%;
    display: inline-block;
}
.ship-list {
    width: 100%;
    height: 100%;
}